<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Live.com_Сombiner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Live.com_Сombiner.Properties.Settings>
            <setting name="UserAgentFileBox" serializeAs="String">
                <value>in\UserAgent.txt</value>
            </setting>
            <setting name="ProxyFilePathBox" serializeAs="String">
                <value>in\Proxy.txt</value>
            </setting>
            <setting name="ProxyCheckLinkBox" serializeAs="String">
                <value>https://bing.com/</value>
            </setting>
            <setting name="OperatingModeBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxySourceBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyModeBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TypeOfProxyBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinPauseNumeric" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="MaxPauseNumeric" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="CountRequestNumeric" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CountThreadNumeric" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisableLogBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientKeyBox" serializeAs="String">
                <value>ae23daf19c9e65577bb4549070c8c16b</value>
            </setting>
            <setting name="MaxCountMessageToGroupsNumeric" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxCountMessageToLSNumeric" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MessageForSpamGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="MessageForSpamLS" serializeAs="String">
                <value />
            </setting>
            <setting name="NameSurnameBox" serializeAs="String">
                <value>in\NameSurname.txt</value>
            </setting>
            <setting name="PasswordFileBox" serializeAs="String">
                <value>in\Passwords.txt</value>
            </setting>
            <setting name="LoginGenerateCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasswordGenerateCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CountAccountNumeric" serializeAs="String">
                <value>1</value>
            </setting>
        </Live.com_Сombiner.Properties.Settings>
    </userSettings>
</configuration>