<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.1.4" targetFramework="net472" />
  <package id="libsodium" version="1.0.18" targetFramework="net472" />
  <package id="MailKit" version="2.11.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="net472" />
  <package id="MimeKit" version="2.11.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net472" />
  <package id="Sodium.Core" version="1.2.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>